@import '../stylesheets/index';
@import "../stylesheets/mixins";

.article {
  background: $page-background-color;
  overflow: hidden;

  > div > p {
    &:first-child {
      &::first-letter {
        float: left;
        font-family: Georgia;
        font-size: 57px;
        line-height: 48px;
        padding-top: 4px;
        padding-right: 8px;
      }
    }
  }

  p, h2, h3, h4, h5, h6, table, .date, ul, ol {
    max-width: $max-width-readable;
    margin-left: auto;
    margin-right: auto;
  }

  .headingWrap {
    position: relative;
    padding: 1vw 0;
    background-repeat: repeat;
    background-size: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin-bottom: 77px;
    text-align: center;
  }

  h1 {
    position: relative;
    font-size: $font-size-xl;
    top: 90px;
    background: transparentize($color-cornflower-blue, 0.15);
    margin: 0 auto 0 auto;
    padding: $global-spacing * 2 $global-spacing * 4;
    color: white;
    display: inline-block;
    max-width: $max-width-readable;

    &::after {
      position: absolute;
      content: '';
      right: -100%;
      top: 0;
      background: transparentize($color-cornflower-blue, 0.15);
      height: 100%;
      width: 100%;
    }
  }

  h2 {
    display: flex;
    font-size: $font-size-lg;
    align-items: center;

    :global(.anchor) {
      order: 1;
      float: none;
      padding: $global-spacing / 2;
      margin-left: $global-spacing / 2;
      color: $text-color-subtext;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        backdrop-filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));
      }
    }
  }

  .headingContent {
    margin: auto;
    text-align: left;
  }

  a {
    &:not(:global(.anchor)) {
      @include link-text;
    }
  }

  li {
    //margin-left: -20px;
    line-height: 2.1;
    padding-left: $global-spacing / 2;
    list-style-image: url('data:image/svg+xml;utf8,<svg width="36" height="10" viewBox="0 0 41 12" xmlns="http://www.w3.org/2000/svg"><path d="M28.75 7.95c-.17-.1-.34-.22-.53-.42-.34-.35-.7-.93-1.08-1.63-.58-1.04-1.18-2.34-2.22-3.5-.52-.56-1.16-1.1-1.96-1.47-.8-.38-1.7-.6-2.73-.6-.88 0-1.7.17-2.4.46-.64.2-1.2.6-1.66 1-.82.7-1.4 1.5-1.87 2.3-.7 1.2-1.24 2.3-1.77 3-.26.3-.5.5-.73.7-.22.1-.4.2-.77.2-.32 0-.5-.1-.7-.2-.16-.1-.34-.2-.53-.4-.33-.4-.7-1-1.07-1.7-.58-1.1-1.2-2.4-2.23-3.5-.52-.5-1.16-1.1-1.95-1.4C3.75.5 2.83.3 1.82.3.94.3.22 1.04.22 1.9c0 .88.72 1.6 1.6 1.6.5 0 .9.1 1.22.22.3.1.53.27.78.48.42.37.82.9 1.2 1.56.6.98 1.13 2.2 1.96 3.33.42.5.94 1.1 1.62 1.5.68.4 1.53.6 2.43.6.78 0 1.52-.2 2.15-.5.55-.3 1-.7 1.38-1.1.66-.7 1.12-1.5 1.54-2.3.62-1.2 1.17-2.2 1.8-2.9.3-.4.6-.6.97-.8.36-.2.77-.3 1.36-.3.52 0 .9.1 1.23.2.28.1.53.2.77.4.42.4.83.9 1.22 1.6.6.95 1.12 2.2 1.95 3.3.42.53.93 1.1 1.62 1.5.68.42 1.52.7 2.42.66.78 0 1.53-.2 2.15-.5.5-.3 1-.7 1.3-1.1.6-.7 1.1-1.5 1.5-2.27.6-1.13 1.1-2.2 1.8-2.9.3-.3.6-.6.9-.73.3-.2.8-.3 1.3-.3V1.9l-.1 1.6h.1V1.95l-.1 1.57c.9.1 1.66-.56 1.7-1.43.1-.9-.55-1.7-1.4-1.7-.08-.1-.1-.1-.15-.1-.88 0-1.7.1-2.4.4-.64.2-1.2.6-1.65 1-.83.7-1.4 1.5-1.9 2.3-.7 1.2-1.22 2.3-1.75 3-.26.3-.5.5-.7.7-.2.1-.4.2-.77.2-.3 0-.5-.1-.7-.2z" fill="#FFD902" fill-rule="evenodd"/></svg>');
  }

  p {
    code {
      font-size: 85%;
      background: transparentize(desaturate($color-cornflower-blue, 25%), 0.9);
      padding: 1px 3px;
      color: lighten($color-black-russian, 10%);
    }
  }

  img {
    max-width: 100%;
  }
}

.date {
  position: relative;
  //color: $color-cornflower-blue;
  font-size: $font-size-reg;
  margin-top: 0;
  margin-bottom: $global-spacing * 4;
  background: $color-school-bus-yellow;
  color: $color-black-russian;
  padding: $global-spacing $global-spacing * 4;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background: $color-school-bus-yellow;
  }
}

.sidebar {

}

