@import "variables";

@mixin link-text {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    z-index: 0;

    &:hover {
      &::before {
        height: 65%;
        background: transparentize($color-cornflower-blue, 0.7);
        width: 110%;
        margin-left: -5%;
      }
    }

    &::before {
      bottom: 0.37em;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      background: $text-color-link;
      position: absolute;
      transition: all 0.2s;
      z-index: -1;
    }
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}